<footer class="w-full bg-slate-700 p-5">
<div class="inline-block w-full">
    <h1 class="text-5xl float-left">{{footer}}</h1>
    <div class="w-5 h-5 bg-slate-300 float-right mr-2"></div>
    <div class="w-5 h-5 bg-slate-300 float-right mr-2"></div>
    <div class="w-5 h-5 bg-slate-300 float-right mr-2"></div>
</div>
    <p class="py-4 pl-6 pr-6 inline-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. At corrupti totam delectus illo ea atque adipisci debitis ducimus? Fugit dolorem quibusdam consequatur <br> saepe reiciendis rem vero quisquam quae tempore similique!</p>
</footer>
<script src="/js/app.js"></script>
</body>
</html>
